@charset "UTF-8";

h1, h2, h3{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p, li {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

body{
    background-color: black;
}

.center{
    text-align: center;
}

.parallax {
    background-image: url("imagens/ceu.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax2{
    background-image: url("imagens/parallax2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    background-image: url("imagens/eles.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}